<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TaskProcessor1Settings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="TaskProcessor1SecondTaskSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="TaskProcessor2Settings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<TaskProcessor1Settings>
		<add key="CrontabExpression" value="*/2 * * * *" />
	</TaskProcessor1Settings>

	<TaskProcessor1SecondTaskSettings>
		<add key="ProcessingInterval" value="30" />
	</TaskProcessor1SecondTaskSettings>

	<TaskProcessor2Settings>
		<add key="ProcessingInterval" value="45" />
	</TaskProcessor2Settings>
</configuration>