branches:
 only:
  - develop
  - master

git:
 depth: 1
  
language: objective-c

env:
 global:
  - EnableNuGetPackageRestore=true 

before_install:
 - wget "http://download.mono-project.com/archive/3.6.0/macos-10-x86/MonoFramework-MDK-3.6.0.macos10.xamarin.x86.pkg"
 - sudo installer -pkg "MonoFramework-MDK-3.6.0.macos10.xamarin.x86.pkg" -target /
 
before_script:
 - chmod +x .ci/nunit.sh
 
script:
 - xbuild /p:Platform="Any CPU" /p:Configuration=Release src/Simplify.sln
 - .ci/nunit.sh .ci/tests.nunit
